@import url(https://fonts.googleapis.com/css?family=Alfa+Slab+One|Bree+Serif|Cabin|Fredoka+One|Montserrat|Roboto|Roboto+Condensed|Roboto+Slab|Ubuntu&display=swap);

@keyframes fadeIn{
    0%{
        transform: translateX(-100rem);
    }
    100%{
        transform: translateX(0rem);
    }
}

.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(black,.25);
    &--inner{
        position: absolute;
        top: 25%;
        left: 25%;
        bottom: 25%;
        right: 25%;
        width: 52rem;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-color: #313958; 
        animation: fadeIn .75s cubic-bezier(0.730, -0.600, 0.320, 1.650);
        &__exit{
            flex-basis: 7.5%;
            width: 100%;
            background-color: #161927;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            &--button{
                flex-basis: 6%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Bree-Serif', sans-serif;
                font-size: 1.75rem;
                color: white;
                text-shadow: 0.009rem 0.009rem 0.05rem white;
                transition: all .2s linear;
                border: none;
                background-color: transparent;
                &:hover{
                    color: #C0C09A;
                    text-shadow: 0.009rem 0.009rem 0.05rem #C0C09A;
                    cursor: pointer;
                }
            }
        }
        &__content{
            flex-basis: 92.5%;
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
    }
}
